body {
  background-color: black;
  height: 100vh;
  margin: 0;
}

body.jammer {
  background-image: url('./images/catJam.gif');
  background-size: 100vw 100vh;
  background-position-x: 0vw;
  background-position-y: 0vh;
}

body.pre-jam {
  background-position: center;
  background-repeat: no-repeat;

  animation-name: pre-jam;
  animation-duration: 32s;
  animation-timing-function: ease-in;
}

body.jamming {
  animation-name: jam;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pre-jam {
  from {
    background-size: 0vh 0vh;
  }
  to {
    background-size: 100vw 100vh;
  }
}

@keyframes jam {
  from {
    background-size: 100vw 100vh;
    background-position-x: 0px;
    background-position-y: 0px;
  }

  to {
    background-size: 10vh 10vh;
    background-position-x: 45vw;
    background-position-y: 45vh;
  }
}

#jam-button {
  width: 10rem;
  height: 3rem;

  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -1.5rem;
  margin-left: -5rem;
  
  font-size: 1rem;
}